# Supabase Configuration
VITE_SUPABASE_URL=https://rosqtcptnvpaaieqdiok.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJvc3F0Y3B0bnZwYWFpZXFkaW9rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MjI0OTMsImV4cCI6MjA2OTk5ODQ5M30.i5ZUTj4tOKrdX3-WXooKMxdJv_Agc24vb8ZZWtmZSAk

# Para Edge Functions (no Supabase Dashboard)
# SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJvc3F0Y3B0bnZwYWFpZXFkaW9rIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDQyMjQ5MywiZXhwIjoyMDY5OTk4NDkzfQ.TXDK2aXir7fiN4ye8N_Yf0N296daMyaLyxUe1DUsuOE
